@charset "utf-8";
/* CSS Document */
@media (max-width: 430px) {
    h1 {
        font-size: 8px;
    }
	h2{
		font-size:10px
	}
	
	p{ font-size: 9px;	
	}
	h6{
		font-size: 9px
	}
	.x-icon{font-size:  8px}

}
